h1 {
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: grey;
}

a {
  text-decoration: none;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 50px auto;
}

.weather-app {
  padding: 30px;
  border: 1px solid rgb(186, 186, 186);
  border-radius: 8px;
}
.form-control {
  margin-bottom: 20px;
}
.units {
  position: relative;
  top: -36px;
  font-size: 20px;
}

.weather-temperature {
  position: relative;
  top: -25px;
}

.weather-temperature img {
  position: relative;
  bottom: -15px;
  height: 68px;
  width: 68px;
  margin-right: 10px;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  color: black;
}

.forecast-temp-max {
  font-size: 15px;
}

.forecast-temp-min {
  font-size: 15px;
  color: gray;
}

#temperature {
  font-size: 72px;
  font-weight: 600;
}

#description:first-letter {
  text-transform: capitalize;
}

#display-forecast {
  text-align: center;
}
